# PGaaS - PostgreSQL as a Service                                                                                                                            
#                                                                                                                                                            
# The PGaaS iDNS server provides information on the system, primarily for the iDNS system                                                                    

[Unit]
Description=PGaaS iDNS server

[Service]
User=postgres
Group=postgres
ExecStart= /opt/app/postgresql-prep/bin/iDNS-responder.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
